extends layout

block content
  #page(style='width: 100%; height: 100%; margin: 0 auto;')
    #panelContainer
      <h3>Errors</h3><br>
      #errorContainer
        #errorSpacer

          //- Non-Closed Area Button
          #one.buttonContainer
            #one.infoButton
            #one.mainButton
              #one.buttonImage
              #one.buttonTextContainer
                #one.buttonText
                  |Non-Closed Area
          #one.infoSlider
            #one.infoText
              |A non closed area occurs when
            
          //- Dead Ended One-Ways
          #two.buttonContainer
            #two.infoButton
            #two.mainButton
              #two.buttonImage
              #two.buttonTextContainer
                #two.buttonText
                  |Dead Ended One-Ways
          #two.infoSlider
            #two.infoText
              |A non closed area occurs when            

          //- Missing Tags
          #three.buttonContainer
            #three.infoButton
            #three.mainButton
              #three.buttonImage
              #three.buttonTextContainer
                #three.buttonText
                  |Missing Tags
          #three.infoSlider
            #three.infoText
              |Missing Tags

          //- Motorways Without Ref
          #four.buttonContainer
            #four.infoButton
            #four.mainButton
              #four.buttonImage
              #four.buttonTextContainer
                #four.buttonText
                  |Motorways Without Ref
          #four.infoSlider
            #four.infoText
              |Missing Tags

          //- Missing Religion Tag
          #five.buttonContainer
            #five.infoButton
            #five.mainButton
              #five.buttonImage
              #five.buttonTextContainer
                #five.buttonText
                  |Missing Relgion Tag
          #five.infoSlider
            #five.infoText
              |Places of Worship Without Religion

          //- POI without Name
          #six.buttonContainer
            #six.infoButton
            #six.mainButton
              #six.buttonImage
              #six.buttonTextContainer
                #six.buttonText
                  |POI Without Name
          #six.infoSlider
            #six.infoText
              |Point of Interest Without Name

          //- Ways Without Nodes
          #seven.buttonContainer
            #seven.infoButton
            #seven.mainButton
              #seven.buttonImage
              #seven.buttonTextContainer
                #seven.buttonText
                  |Ways Withot Nodes
          #seven.infoSlider
            #seven.infoText
              |Ways Without Nodes

          //- Floating Islands
          #eight.buttonContainer
            #eight.infoButton
            #eight.mainButton
              #eight.buttonImage
              #eight.buttonTextContainer
                #eight.buttonText
                  |Floating Islands
          #eight.infoSlider
            #eight.infoText
              |Floating Islands

          //- Railway Crossing Without Tag
          #nine.buttonContainer
            #nine.infoButton
            #nine.mainButton
              #nine.buttonImage
              #nine.buttonTextContainer
                #nine.buttonText
                  |Railway Crossing Without Tag
          #nine.infoSlider
            #nine.infoText
              |Missing Tags

          //- Improper Railway Crossing
          #ten.buttonContainer
            #ten.infoButton
            #ten.mainButton
              #ten.buttonImage
              #ten.buttonTextContainer
                #ten.buttonText
                  |Improper Railway Crossing
          #ten.infoSlider
            #ten.infoText
              |Missing Tags

          //- Fixme Tags
          #eleven.buttonContainer
            #eleven.infoButton
            #eleven.mainButton
              #eleven.buttonImage
              #eleven.buttonTextContainer
                #eleven.buttonText
                  |Fixme Tags
          #eleven.infoSlider
            #eleven.infoText
              |Missing Tags

          //- Relation Without Type
          #twelve.buttonContainer
            #twelve.infoButton
            #twelve.mainButton
              #twelve.buttonImage
              #twelve.buttonTextContainer
                #twelve.buttonText
                  |Relation Without Type
          #twelve.infoSlider
            #twelve.infoText
              |Relation Without Type

          //- Intersection Without Junction
          #thirteen.buttonContainer
            #thirteen.expandButton
            #thirteen.mainButton
              #thirteen.buttonImage
              #thirteen.buttonTextContainer
                #thirteen.buttonText
                  |Intersection Without Junction
          #thirteen.expandSlider
            #thirteen.expandPane

                //- Highway-Highway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Highway-Highway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Highway-Waterway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Highway-Waterway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Highway-Riverbank
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Highway-Riverbank
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Waterway-Waterway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Waterway-Waterway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Cycleway-Cycleway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Cycleway-Cycleway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Highway-Cycleway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Highway-Cycleway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Cycleway-Waterway
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Cycleway-Waterway
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

                //- Cycleway-Riverbank
                #13.subButtonContainer
                  #13.infoButton
                  #13.mainButton
                    #twelve.buttonImage
                    #t13.buttonTextContainer
                      #13.buttonText
                        |Cycleway-Riverbank
                #13.infoSlider
                  #13.infoText
                    |Relation Without Type

    //-Handles Selection
    Script.
      $('.mainButton').click(function(){
        $(this).addClass('.selectedButtonImage');
        $(this).removeClass('.buttonImage');

      });

    //- Handles Collapsed Selections
    Script.
      $('.expandButton').click(function() {

        var ID = $(this).attr('id');
        var position = $(this).position();
        var scrollLoc = $('#errorContainer').scrollTop();

        if ($('#' + ID + '.expandSlider').height() == 0) {
          $('#' + ID + '.expandSlider').css('border-width','1px');
          $('#' + ID + '.buttonContainer').css('border-bottom-left-radius', '0px');
          $('#' + ID + '.buttonContainer').css('border-bottom-right-radius','0px');
           

          $('#' + ID + '.expandSlider').animate({height: '150px'}, {
            complete: function() {
              $('#' + ID + '.expandPane').css('display','inline');
            }});
          
          if (position.top > $(document).height()/2){
            $('#errorContainer').animate({scrollTop: scrollLoc + 150});
          }

        } else {
          $('#' + ID + '.expandPane').css('display','none');
          $('#' + ID + '.expandSlider').animate({height: '0px'}, {
            complete: function() {
              $('#' + ID + '.expandSlider').css('border-width','0px');
              $('#' + ID + '.buttonContainer').css('border-bottom-left-radius', '3px');
              $('#' + ID + '.buttonContainer').css('border-bottom-right-radius','3px');
          }});
          if (position.top > $(document).height()/2){
            $('#errorContainer').animate({scrollTop: scrollLoc - 150});
          } 
      }});

    //- Handles Information Pane Expansion
    Script.
      $('.infoButton').click(function() {

        var ID = $(this).attr('id');
        var position = $(this).position();
        var scrollLoc = $('#errorContainer').scrollTop();

        if ($('#' + ID + '.infoSlider').height() == 0) {
          $('#' + ID + '.infoSlider').css('border-width','1px');
          $('#' + ID + '.buttonContainer').css('border-bottom-left-radius', '0px');
          $('#' + ID + '.buttonContainer').css('border-bottom-right-radius','0px');
                  
          $('#' + ID + '.infoSlider').animate({height: '150px'}, {
            complete: function() {
              $('#' + ID + '.infoText').css('visibility','visible');
            }});
                   
          if (position.top > $(document).height()/2){
            $('#errorContainer').animate({scrollTop: scrollLoc + 150});
          }
           
        } else {
          $('#' + ID + '.infoText').css('visibility','hidden');
          $('#' + ID + '.infoSlider').animate({height: '0px'}, {
            complete: function() {
              $('#' + ID + '.infoSlider').css('border-width','0px');
              $('#' + ID + '.buttonContainer').css('border-bottom-left-radius', '3px');
              $('#' + ID + '.buttonContainer').css('border-bottom-right-radius','3px');
          }});
          if (position.top > $(document).height()/2){
            $('#errorContainer').animate({scrollTop: scrollLoc - 150});
          } 
          
      }});
            
    #mapContainer(style='float: right; width: 75%; height: 100%;')

      script.
        var map = new L.Map('mapContainer').setView([0, 0], 2);
        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
