doctype html
html
  head
    title Keep Right!
    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="/javascripts/leaflet.js")
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
