include search
#errorContainer
  #errorSpacer
    #100.buttonContainer
      #100.infoButton
      #100.mainButton
        #100.selectedButtonImage
        #100.buttonTextContainer
          #100.buttonText
            |Non-Closed Area
    #100.infoSlider
      #100.infoText
        |Description
    #200.buttonContainer
      #200.infoButton
      #200.mainButton
        #200.selectedButtonImage
        #200.buttonTextContainer
          #200.buttonText
            |Dead Ended One Way
    #200.infoSlider
      #200.infoText
        |Description
    #300.buttonContainer
      #300.infoButton
      #300.mainButton
        #300.selectedButtonImage
        #300.buttonTextContainer
          #300.buttonText
            |Almost Junction
    #300.infoSlider
      #300.infoText
        |Description
    #400.buttonContainer
      #400.infoButton
      #400.mainButton
        #400.selectedButtonImage
        #400.buttonTextContainer
          #400.buttonText
            |Missing Tag
    #400.infoSlider
      #400.infoText
        |Description
    #500.buttonContainer
      #500.infoButton
      #500.mainButton
        #500.selectedButtonImage
        #500.buttonTextContainer
          #500.buttonText
            |Morotway Without Ref
    #500.infoSlider
      #500.infoText
        |Description
    #600.buttonContainer
      #600.infoButton
      #600.mainButton
        #600.selectedButtonImage
        #600.buttonTextContainer
          #600.buttonText
            |Missing Religion Tag
    #600.infoSlider
      #600.infoText
        |Description
    #700.buttonContainer
      #700.infoButton
      #700.mainButton
        #700.selectedButtonImage
        #700.buttonTextContainer
          #700.buttonText
            |POI Without Name
    #700.infoSlider
      #700.infoText
        |Description
    #800.buttonContainer
      #800.infoButton
      #800.mainButton
        #800.selectedButtonImage
        #800.buttonTextContainer
          #800.buttonText
            |Way Without Nodes
    #800.infoSlider
      #800.infoText
        |Description
    #900.buttonContainer
      #900.infoButton
      #900.mainButton
        #900.selectedButtonImage
        #900.buttonTextContainer
          #900.buttonText
            |Floating Islands
    #900.infoSlider
      #900.infoText
        |Description
    #1000.buttonContainer
      #1000.infoButton
      #1000.mainButton
        #1000.selectedButtonImage
        #1000.buttonTextContainer
          #1000.buttonText
            |Railway Crossing Without Tag
    #1000.infoSlider
      #1000.infoText
        |Description
    #1100.buttonContainer
      #1100.infoButton
      #1100.mainButton
        #1100.selectedButtonImage
        #1100.buttonTextContainer
          #1100.buttonText
            |Improper Railway Crossing
    #1100.infoSlider
      #1100.infoText
        |Description
    #1200.buttonContainer
      #1200.infoButton
      #1200.mainButton
        #1200.selectedButtonImage
        #1200.buttonTextContainer
          #1200.buttonText
            |Fix-me Tagged Item
    #1200.infoSlider
      #1200.infoText
        |Description
    #1300.buttonContainer
      #1300.infoButton
      #1300.mainButton
        #1300.selectedButtonImage
        #1300.buttonTextContainer
          #1300.buttonText
            |Relation Without Type
    #1300.infoSlider
      #1300.infoText
        |Description
    #1400.buttonContainer
      #1400.expandButton
      #1400.mainButton
        #1400.selectedButtonImage
        #1400.buttonTextContainer
          #1400.buttonText
            |Intersection Without Junction
    #1400.expandSlider
      #1400.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Highway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Riverbank
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Waterway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Cycleway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Cycleway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Riverbank
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #1500.buttonContainer
      #1500.expandButton
      #1500.mainButton
        #1500.selectedButtonImage
        #1500.buttonTextContainer
          #1500.buttonText
            |Overlapping Ways
    #1500.expandSlider
      #1500.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Highway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Riverbank
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Waterway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Cycleway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Highway-Cycleway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Waterway
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Cycleway-Riverbank
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #1600.buttonContainer
      #1600.infoButton
      #1600.mainButton
        #1600.selectedButtonImage
        #1600.buttonTextContainer
          #1600.buttonText
            |Loopings
    #1600.infoSlider
      #1600.infoText
        |Description
    #1700.buttonContainer
      #1700.infoButton
      #1700.mainButton
        #1700.selectedButtonImage
        #1700.buttonTextContainer
          #1700.buttonText
            |Misspelled Tags
    #1700.infoSlider
      #1700.infoText
        |Description
    #1800.buttonContainer
      #1800.expandButton
      #1800.mainButton
        #1800.selectedButtonImage
        #1800.buttonTextContainer
          #1800.buttonText
            |Layer Conflicts
    #1800.expandSlider
      #1800.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Mixed Layer Intersection
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Strange Layers
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #1900.buttonContainer
      #1900.infoButton
      #1900.mainButton
        #1900.selectedButtonImage
        #1900.buttonTextContainer
          #1900.buttonText
            |Motorway Connected Directly
    #1900.infoSlider
      #1900.infoText
        |Description
    #2000.buttonContainer
      #2000.expandButton
      #2000.mainButton
        #2000.selectedButtonImage
        #2000.buttonTextContainer
          #2000.buttonText
            |Boundaries
    #2000.expandSlider
      #2000.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing Name
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing admin_level
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Not Closed Loop
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Splitting Boundary
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |admin_level Too High
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #2100.buttonContainer
      #2100.expandButton
      #2100.mainButton
        #2100.selectedButtonImage
        #2100.buttonTextContainer
          #2100.buttonText
            |Restrictions
    #2100.expandSlider
      #2100.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing Type
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing From Way
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing To Way
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |From Or To Not A Way
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |via Is Not On The Way Ends
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Wrong Restriction Angle
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Wrong Direction of to Member
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Already Restricted By oneway
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #2200.buttonContainer
      #2200.expandButton
      #2200.mainButton
        #2200.selectedButtonImage
        #2200.buttonTextContainer
          #2200.buttonText
            |Roundabouts
    #2200.expandSlider
      #2200.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Not Closed Loop
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Wrong Direction
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Faintly Connected
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #2300.buttonContainer
      #2300.infoButton
      #2300.mainButton
        #2300.selectedButtonImage
        #2300.buttonTextContainer
          #2300.buttonText
            |*_link Connections
    #2300.infoSlider
      #2300.infoText
        |Description
    #2400.buttonContainer
      #2400.infoButton
      #2400.mainButton
        #2400.selectedButtonImage
        #2400.buttonTextContainer
          #2400.buttonText
            |Bridge Tags
    #2400.infoSlider
      #2400.infoText
        |Description
    #2500.buttonContainer
      #2500.infoButton
      #2500.mainButton
        #2500.selectedButtonImage
        #2500.buttonTextContainer
          #2500.buttonText
            |Doubled Places
    #2500.infoSlider
      #2500.infoText
        |Description
    #2600.buttonContainer
      #2600.infoButton
      #2600.mainButton
        #2600.selectedButtonImage
        #2600.buttonTextContainer
          #2600.buttonText
            |Non-Physical sports Tag
    #2600.infoSlider
      #2600.infoText
        |Description
    #2700.buttonContainer
      #2700.expandButton
      #2700.mainButton
        #2700.selectedButtonImage
        #2700.buttonTextContainer
          #2700.buttonText
            |Geometry Glitches
    #2700.expandSlider
      #2700.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Missing Turn Restriction
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Impossible Angles
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #2800.buttonContainer
      #2800.expandButton
      #2800.mainButton
        #2800.selectedButtonImage
        #2800.buttonTextContainer
          #2800.buttonText
            |Website
    #2800.expandSlider
      #2800.expandPane
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |HTTP Error
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Domain Hijacking
          #undefined.infoSlider
            #undefined.infoText
              |Description
          #undefined.subButtonContainer
            #undefined.infoButton
            #undefined.mainButton
              #undefined.buttonImage
              #undefined.buttonTextContainer
                #undefined.buttonText
                  |Non-Match
          #undefined.infoSlider
            #undefined.infoText
              |Description
    #2900.buttonContainer
      #2900.infoButton
      #2900.mainButton
        #2900.selectedButtonImage
        #2900.buttonTextContainer
          #2900.buttonText
            |Multiple Nodes on Spot
    #2900.infoSlider
      #2900.infoText
        |Description
    #3000.buttonContainer
      #3000.infoButton
      #3000.mainButton
        #3000.selectedButtonImage
        #3000.buttonTextContainer
          #3000.buttonText
            |Deprecated Tags
    #3000.infoSlider
      #3000.infoText
        |Description
    #3100.buttonContainer
      #3100.infoButton
      #3100.mainButton
        #3100.selectedButtonImage
        #3100.buttonTextContainer
          #3100.buttonText
            |Missing maxspeed
    #3100.infoSlider
      #3100.infoText
        |Description
    #3200.buttonContainer
      #3200.infoButton
      #3200.mainButton
        #3200.selectedButtonImage
        #3200.buttonTextContainer
          #3200.buttonText
            |Language Unknown
    #3200.infoSlider
      #3200.infoText
        |Description
    #3300.buttonContainer
      #3300.infoButton
      #3300.mainButton
        #3300.selectedButtonImage
        #3300.buttonTextContainer
          #3300.buttonText
            |Missing tracktype
    #3300.infoSlider
      #3300.infoText
        |Description
