include search
#errorContainer
  #errorSpacer
    #0.buttonContainer
      #0.infoButton
      #0.mainButton
        #0.selectedButtonImage
        #0.buttonTextContainer
          #0.buttonText
            |Non-Closed Area
    #0.infoSlider
      #0.infoText
        |Description
    #1.buttonContainer
      #1.infoButton
      #1.mainButton
        #1.selectedButtonImage
        #1.buttonTextContainer
          #1.buttonText
            |Dead Ended One Way
    #1.infoSlider
      #1.infoText
        |Description
    #2.buttonContainer
      #2.infoButton
      #2.mainButton
        #2.selectedButtonImage
        #2.buttonTextContainer
          #2.buttonText
            |Almost Junction
    #2.infoSlider
      #2.infoText
        |Description
    #3.buttonContainer
      #3.infoButton
      #3.mainButton
        #3.selectedButtonImage
        #3.buttonTextContainer
          #3.buttonText
            |Missing Tag
    #3.infoSlider
      #3.infoText
        |Description
    #4.buttonContainer
      #4.infoButton
      #4.mainButton
        #4.selectedButtonImage
        #4.buttonTextContainer
          #4.buttonText
            |Morotway Without Ref
    #4.infoSlider
      #4.infoText
        |Description
    #5.buttonContainer
      #5.infoButton
      #5.mainButton
        #5.selectedButtonImage
        #5.buttonTextContainer
          #5.buttonText
            |Missing Religion Tag
    #5.infoSlider
      #5.infoText
        |Description
    #6.buttonContainer
      #6.infoButton
      #6.mainButton
        #6.selectedButtonImage
        #6.buttonTextContainer
          #6.buttonText
            |POI Without Name
    #6.infoSlider
      #6.infoText
        |Description
    #7.buttonContainer
      #7.infoButton
      #7.mainButton
        #7.selectedButtonImage
        #7.buttonTextContainer
          #7.buttonText
            |Way Without Nodes
    #7.infoSlider
      #7.infoText
        |Description
    #8.buttonContainer
      #8.infoButton
      #8.mainButton
        #8.selectedButtonImage
        #8.buttonTextContainer
          #8.buttonText
            |Floating Islands
    #8.infoSlider
      #8.infoText
        |Description
    #9.buttonContainer
      #9.infoButton
      #9.mainButton
        #9.selectedButtonImage
        #9.buttonTextContainer
          #9.buttonText
            |Railway Crossing Without Tag
    #9.infoSlider
      #9.infoText
        |Description
    #10.buttonContainer
      #10.infoButton
      #10.mainButton
        #10.selectedButtonImage
        #10.buttonTextContainer
          #10.buttonText
            |Improper Railway Crossing
    #10.infoSlider
      #10.infoText
        |Description
    #11.buttonContainer
      #11.infoButton
      #11.mainButton
        #11.selectedButtonImage
        #11.buttonTextContainer
          #11.buttonText
            |Fixme Tagged Item
    #11.infoSlider
      #11.infoText
        |Description
    #12.buttonContainer
      #12.infoButton
      #12.mainButton
        #12.selectedButtonImage
        #12.buttonTextContainer
          #12.buttonText
            |Relation Without Type
    #12.infoSlider
      #12.infoText
        |Description
    #13.buttonContainer
      #13.expandButton
      #13.mainButton
        #13.selectedButtonImage
        #13.buttonTextContainer
          #13.buttonText
            |Intersection Without Junction
    #13.expandSlider
      #13.expandPane
          #13s0.subButtonContainer
            #13s0.infoButton
            #13s0.mainButton
              #13s0.buttonImage
              #13s0.buttonTextContainer
                #13s0.buttonText
                  |Highway-Highway
          #13s0.infoSlider
            #13s0.infoText
              |Description
          #13s1.subButtonContainer
            #13s1.infoButton
            #13s1.mainButton
              #13s1.buttonImage
              #13s1.buttonTextContainer
                #13s1.buttonText
                  |Highway-Waterway
          #13s1.infoSlider
            #13s1.infoText
              |Description
          #13s2.subButtonContainer
            #13s2.infoButton
            #13s2.mainButton
              #13s2.buttonImage
              #13s2.buttonTextContainer
                #13s2.buttonText
                  |Highway-Riverbank
          #13s2.infoSlider
            #13s2.infoText
              |Description
          #13s3.subButtonContainer
            #13s3.infoButton
            #13s3.mainButton
              #13s3.buttonImage
              #13s3.buttonTextContainer
                #13s3.buttonText
                  |Waterway-Waterway
          #13s3.infoSlider
            #13s3.infoText
              |Description
          #13s4.subButtonContainer
            #13s4.infoButton
            #13s4.mainButton
              #13s4.buttonImage
              #13s4.buttonTextContainer
                #13s4.buttonText
                  |Cycleway-Cycleway
          #13s4.infoSlider
            #13s4.infoText
              |Description
          #13s5.subButtonContainer
            #13s5.infoButton
            #13s5.mainButton
              #13s5.buttonImage
              #13s5.buttonTextContainer
                #13s5.buttonText
                  |Highway-Cycleway
          #13s5.infoSlider
            #13s5.infoText
              |Description
          #13s6.subButtonContainer
            #13s6.infoButton
            #13s6.mainButton
              #13s6.buttonImage
              #13s6.buttonTextContainer
                #13s6.buttonText
                  |Cycleway-Waterway
          #13s6.infoSlider
            #13s6.infoText
              |Description
          #13s7.subButtonContainer
            #13s7.infoButton
            #13s7.mainButton
              #13s7.buttonImage
              #13s7.buttonTextContainer
                #13s7.buttonText
                  |Cycleway-Riverbank
          #13s7.infoSlider
            #13s7.infoText
              |Description
    #14.buttonContainer
      #14.expandButton
      #14.mainButton
        #14.selectedButtonImage
        #14.buttonTextContainer
          #14.buttonText
            |Overlapping Ways
    #14.expandSlider
      #14.expandPane
          #14s0.subButtonContainer
            #14s0.infoButton
            #14s0.mainButton
              #14s0.buttonImage
              #14s0.buttonTextContainer
                #14s0.buttonText
                  |Highway-Highway
          #14s0.infoSlider
            #14s0.infoText
              |Description
          #14s1.subButtonContainer
            #14s1.infoButton
            #14s1.mainButton
              #14s1.buttonImage
              #14s1.buttonTextContainer
                #14s1.buttonText
                  |Highway-Waterway
          #14s1.infoSlider
            #14s1.infoText
              |Description
          #14s2.subButtonContainer
            #14s2.infoButton
            #14s2.mainButton
              #14s2.buttonImage
              #14s2.buttonTextContainer
                #14s2.buttonText
                  |Highway-Riverbank
          #14s2.infoSlider
            #14s2.infoText
              |Description
          #14s3.subButtonContainer
            #14s3.infoButton
            #14s3.mainButton
              #14s3.buttonImage
              #14s3.buttonTextContainer
                #14s3.buttonText
                  |Waterway-Waterway
          #14s3.infoSlider
            #14s3.infoText
              |Description
          #14s4.subButtonContainer
            #14s4.infoButton
            #14s4.mainButton
              #14s4.buttonImage
              #14s4.buttonTextContainer
                #14s4.buttonText
                  |Cycleway-Cycleway
          #14s4.infoSlider
            #14s4.infoText
              |Description
          #14s5.subButtonContainer
            #14s5.infoButton
            #14s5.mainButton
              #14s5.buttonImage
              #14s5.buttonTextContainer
                #14s5.buttonText
                  |Highway-Cycleway
          #14s5.infoSlider
            #14s5.infoText
              |Description
          #14s6.subButtonContainer
            #14s6.infoButton
            #14s6.mainButton
              #14s6.buttonImage
              #14s6.buttonTextContainer
                #14s6.buttonText
                  |Cycleway-Waterway
          #14s6.infoSlider
            #14s6.infoText
              |Description
          #14s7.subButtonContainer
            #14s7.infoButton
            #14s7.mainButton
              #14s7.buttonImage
              #14s7.buttonTextContainer
                #14s7.buttonText
                  |Cycleway-Riverbank
          #14s7.infoSlider
            #14s7.infoText
              |Description
    #15.buttonContainer
      #15.infoButton
      #15.mainButton
        #15.selectedButtonImage
        #15.buttonTextContainer
          #15.buttonText
            |Loopings
    #15.infoSlider
      #15.infoText
        |Description
    #16.buttonContainer
      #16.infoButton
      #16.mainButton
        #16.selectedButtonImage
        #16.buttonTextContainer
          #16.buttonText
            |Misspelled Tags
    #16.infoSlider
      #16.infoText
        |Description
    #17.buttonContainer
      #17.expandButton
      #17.mainButton
        #17.selectedButtonImage
        #17.buttonTextContainer
          #17.buttonText
            |Layer Conflicts
    #17.expandSlider
      #17.expandPane
          #17s0.subButtonContainer
            #17s0.infoButton
            #17s0.mainButton
              #17s0.buttonImage
              #17s0.buttonTextContainer
                #17s0.buttonText
                  |Mixed Layer Intersection
          #17s0.infoSlider
            #17s0.infoText
              |Description
          #17s1.subButtonContainer
            #17s1.infoButton
            #17s1.mainButton
              #17s1.buttonImage
              #17s1.buttonTextContainer
                #17s1.buttonText
                  |Strange Layers
          #17s1.infoSlider
            #17s1.infoText
              |Description
    #18.buttonContainer
      #18.infoButton
      #18.mainButton
        #18.selectedButtonImage
        #18.buttonTextContainer
          #18.buttonText
            |Motorway Connected Directly
    #18.infoSlider
      #18.infoText
        |Description
    #19.buttonContainer
      #19.expandButton
      #19.mainButton
        #19.selectedButtonImage
        #19.buttonTextContainer
          #19.buttonText
            |Boundaries
    #19.expandSlider
      #19.expandPane
          #19s0.subButtonContainer
            #19s0.infoButton
            #19s0.mainButton
              #19s0.buttonImage
              #19s0.buttonTextContainer
                #19s0.buttonText
                  |Missing Name
          #19s0.infoSlider
            #19s0.infoText
              |Description
          #19s1.subButtonContainer
            #19s1.infoButton
            #19s1.mainButton
              #19s1.buttonImage
              #19s1.buttonTextContainer
                #19s1.buttonText
                  |Missing admin_level
          #19s1.infoSlider
            #19s1.infoText
              |Description
          #19s2.subButtonContainer
            #19s2.infoButton
            #19s2.mainButton
              #19s2.buttonImage
              #19s2.buttonTextContainer
                #19s2.buttonText
                  |Not Closed Loop
          #19s2.infoSlider
            #19s2.infoText
              |Description
          #19s3.subButtonContainer
            #19s3.infoButton
            #19s3.mainButton
              #19s3.buttonImage
              #19s3.buttonTextContainer
                #19s3.buttonText
                  |Splitting Boundary
          #19s3.infoSlider
            #19s3.infoText
              |Description
          #19s4.subButtonContainer
            #19s4.infoButton
            #19s4.mainButton
              #19s4.buttonImage
              #19s4.buttonTextContainer
                #19s4.buttonText
                  |admin_level Too High
          #19s4.infoSlider
            #19s4.infoText
              |Description
    #20.buttonContainer
      #20.expandButton
      #20.mainButton
        #20.selectedButtonImage
        #20.buttonTextContainer
          #20.buttonText
            |Restrictions
    #20.expandSlider
      #20.expandPane
          #20s0.subButtonContainer
            #20s0.infoButton
            #20s0.mainButton
              #20s0.buttonImage
              #20s0.buttonTextContainer
                #20s0.buttonText
                  |Missing Type
          #20s0.infoSlider
            #20s0.infoText
              |Description
          #20s1.subButtonContainer
            #20s1.infoButton
            #20s1.mainButton
              #20s1.buttonImage
              #20s1.buttonTextContainer
                #20s1.buttonText
                  |Missing From Way
          #20s1.infoSlider
            #20s1.infoText
              |Description
          #20s2.subButtonContainer
            #20s2.infoButton
            #20s2.mainButton
              #20s2.buttonImage
              #20s2.buttonTextContainer
                #20s2.buttonText
                  |Missing To Way
          #20s2.infoSlider
            #20s2.infoText
              |Description
          #20s3.subButtonContainer
            #20s3.infoButton
            #20s3.mainButton
              #20s3.buttonImage
              #20s3.buttonTextContainer
                #20s3.buttonText
                  |From Or To Not A Way
          #20s3.infoSlider
            #20s3.infoText
              |Description
          #20s4.subButtonContainer
            #20s4.infoButton
            #20s4.mainButton
              #20s4.buttonImage
              #20s4.buttonTextContainer
                #20s4.buttonText
                  |via Is Not On The Way Ends
          #20s4.infoSlider
            #20s4.infoText
              |Description
          #20s5.subButtonContainer
            #20s5.infoButton
            #20s5.mainButton
              #20s5.buttonImage
              #20s5.buttonTextContainer
                #20s5.buttonText
                  |Wrong Restriction Angle
          #20s5.infoSlider
            #20s5.infoText
              |Description
          #20s6.subButtonContainer
            #20s6.infoButton
            #20s6.mainButton
              #20s6.buttonImage
              #20s6.buttonTextContainer
                #20s6.buttonText
                  |Wrong Direction of to Member
          #20s6.infoSlider
            #20s6.infoText
              |Description
          #20s7.subButtonContainer
            #20s7.infoButton
            #20s7.mainButton
              #20s7.buttonImage
              #20s7.buttonTextContainer
                #20s7.buttonText
                  |Already Restricted By oneway
          #20s7.infoSlider
            #20s7.infoText
              |Description
    #21.buttonContainer
      #21.expandButton
      #21.mainButton
        #21.selectedButtonImage
        #21.buttonTextContainer
          #21.buttonText
            |Roundabouts
    #21.expandSlider
      #21.expandPane
          #21s0.subButtonContainer
            #21s0.infoButton
            #21s0.mainButton
              #21s0.buttonImage
              #21s0.buttonTextContainer
                #21s0.buttonText
                  |Not Closed Loop
          #21s0.infoSlider
            #21s0.infoText
              |Description
          #21s1.subButtonContainer
            #21s1.infoButton
            #21s1.mainButton
              #21s1.buttonImage
              #21s1.buttonTextContainer
                #21s1.buttonText
                  |Wrong Direction
          #21s1.infoSlider
            #21s1.infoText
              |Description
          #21s2.subButtonContainer
            #21s2.infoButton
            #21s2.mainButton
              #21s2.buttonImage
              #21s2.buttonTextContainer
                #21s2.buttonText
                  |Faintly Connected
          #21s2.infoSlider
            #21s2.infoText
              |Description
    #22.buttonContainer
      #22.infoButton
      #22.mainButton
        #22.selectedButtonImage
        #22.buttonTextContainer
          #22.buttonText
            |*_link Connections
    #22.infoSlider
      #22.infoText
        |Description
    #23.buttonContainer
      #23.infoButton
      #23.mainButton
        #23.selectedButtonImage
        #23.buttonTextContainer
          #23.buttonText
            |Bridge Tags
    #23.infoSlider
      #23.infoText
        |Description
    #24.buttonContainer
      #24.infoButton
      #24.mainButton
        #24.selectedButtonImage
        #24.buttonTextContainer
          #24.buttonText
            |Doubled Places
    #24.infoSlider
      #24.infoText
        |Description
    #25.buttonContainer
      #25.infoButton
      #25.mainButton
        #25.selectedButtonImage
        #25.buttonTextContainer
          #25.buttonText
            |Non-Physical sports Tag
    #25.infoSlider
      #25.infoText
        |Description
    #26.buttonContainer
      #26.expandButton
      #26.mainButton
        #26.selectedButtonImage
        #26.buttonTextContainer
          #26.buttonText
            |Geometry Glitches
    #26.expandSlider
      #26.expandPane
          #26s0.subButtonContainer
            #26s0.infoButton
            #26s0.mainButton
              #26s0.buttonImage
              #26s0.buttonTextContainer
                #26s0.buttonText
                  |Missing Turn Restriction
          #26s0.infoSlider
            #26s0.infoText
              |Description
          #26s1.subButtonContainer
            #26s1.infoButton
            #26s1.mainButton
              #26s1.buttonImage
              #26s1.buttonTextContainer
                #26s1.buttonText
                  |Impossible Angles
          #26s1.infoSlider
            #26s1.infoText
              |Description
    #27.buttonContainer
      #27.expandButton
      #27.mainButton
        #27.selectedButtonImage
        #27.buttonTextContainer
          #27.buttonText
            |Website
    #27.expandSlider
      #27.expandPane
          #27s0.subButtonContainer
            #27s0.infoButton
            #27s0.mainButton
              #27s0.buttonImage
              #27s0.buttonTextContainer
                #27s0.buttonText
                  |HTTP Error
          #27s0.infoSlider
            #27s0.infoText
              |Description
          #27s1.subButtonContainer
            #27s1.infoButton
            #27s1.mainButton
              #27s1.buttonImage
              #27s1.buttonTextContainer
                #27s1.buttonText
                  |Domain Hijacking
          #27s1.infoSlider
            #27s1.infoText
              |Description
          #27s2.subButtonContainer
            #27s2.infoButton
            #27s2.mainButton
              #27s2.buttonImage
              #27s2.buttonTextContainer
                #27s2.buttonText
                  |Non-Match
          #27s2.infoSlider
            #27s2.infoText
              |Description
    #28.buttonContainer
      #28.infoButton
      #28.mainButton
        #28.selectedButtonImage
        #28.buttonTextContainer
          #28.buttonText
            |Multiple Nodes on Spot
    #28.infoSlider
      #28.infoText
        |Description
    #29.buttonContainer
      #29.infoButton
      #29.mainButton
        #29.selectedButtonImage
        #29.buttonTextContainer
          #29.buttonText
            |Deprecated Tags
    #29.infoSlider
      #29.infoText
        |Description
    #30.buttonContainer
      #30.infoButton
      #30.mainButton
        #30.selectedButtonImage
        #30.buttonTextContainer
          #30.buttonText
            |Missing maxspeed
    #30.infoSlider
      #30.infoText
        |Description
    #31.buttonContainer
      #31.infoButton
      #31.mainButton
        #31.selectedButtonImage
        #31.buttonTextContainer
          #31.buttonText
            |Language Unknown
    #31.infoSlider
      #31.infoText
        |Description
    #32.buttonContainer
      #32.infoButton
      #32.mainButton
        #32.selectedButtonImage
        #32.buttonTextContainer
          #32.buttonText
            |Missing tracktype
    #32.infoSlider
      #32.infoText
        |Description
